extends ../../layouts/default.pug

block main
  h1 Thông tin tài khoản
  
  if(user.fullName)
    div(class="mb-4") Họ Và Tên: <b>#{user.fullName}</b>

  if(user.email)
    div(class="mb-4") Email: <b>#{user.email}</b>

  if(user.status)
    div(class="mb-4")
      span Trạng thái: 
      if(user.status=="active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động